.title {
  background: -webkit-linear-gradient(
    104deg,
    #e95848 5.33%,
    #f71919 51.64%,
    #ff0000 98.91%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  width: 43%;
  gap: 16px;
  margin: 40px 0 30px 0;
}

.image {
  position: absolute;
  top: -120px;
  left: 70px;
}
