@use "styles/mixin";
@use "styles/breakpoints";

.component {
  padding-top: 48px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding-top: 100px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding-top: 60px;
  }
}

.textBg {
  display: inline-flex;
  background-color: var(--red);
  border-radius: 67px;
  padding: 7px 28px;
  color: var(--black);
}
