@use "styles/mixin";
@use "styles/breakpoints";

.contentWrapper {
  padding: 60px 80px;
  margin: 0 auto;
  @include mixin.maxWidth(1300px);
  display: flex;
  justify-content: space-between;

  @include mixin.media-w(breakpoints.$mobile) {
    padding: 20px;
  }

  @include mixin.media-w(breakpoints.$mobileL) {
    flex-direction: column;
    gap: 32px;
  }
}

.text {
  @include mixin.maxWidth(560px);

  @include mixin.media-w(breakpoints.$mobile) {
    font-size: 18px;
  }
}

.btn {
  border: 1px solid var(--bgBlack);
  background-color: var(--bgBlack);
  transform: rotate(-90deg);
}

.btn:hover {
  background-color: white;
}
