@use "styles/mixin";

.contentWrapper {
  padding: 60px 80px;
  margin: 0 auto;
  @include mixin.maxWidth(1300px);
  display: flex;
  justify-content: space-between;
}

.text {
  @include mixin.maxWidth(560px);
}

.btn {
  border: 1px solid var(--bgBlack);
  background-color: var(--bgBlack);
  transform: rotate(-90deg);
}

.btn:hover {
  background-color: white;
}
