@use "styles/mixin";
@use "styles/breakpoints";

.component {
  @include mixin.maxWidth(322px);
  height: 322px;
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  color: var(--red);
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mixin.media-w(breakpoints.$laptop) {
    height: 274px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    height: 254px;
  }
}
