@use "styles/mixin";
@use "styles/breakpoints";

.list {
  @include mixin.maxWidth(646px);
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  gap: 12px;
  font-size: 24px;
  font-weight: 400;

  @include mixin.media-w(breakpoints.$laptop) {
    font-size: 16px;
  }
}

.mobileList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  font-size: 24px;
  color: var(--black);
  font-weight: 400;
}

.footerList {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  gap: 41px;
  @include mixin.media-w(breakpoints.$mobile) {
    gap: 20px !important;
    font-size: 16px;
  }
}
