.component {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 24px;
}

.sizeM {
  border-radius: 16px;
  padding: 12px 44px;
}

.arrowBtn {
  border-radius: 16px;
  padding: 12px 28px;
  width: fit-content;
  gap: 11px;
}
