@use "styles/mixin";

.component {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 24px;
}

.sizeM {
  border-radius: 16px;
  padding: 12px 44px;
  width: fit-content;
}

.sizeL {
  border-radius: 16px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.arrowBtn {
  border-radius: 16px;
  padding: 12px 28px;
  width: fit-content;
  gap: 11px;
}

.scrollBtn {
  border-radius: 8px;
  padding: 12px;
  transition: 0.2s ease-in-out;
  height: fit-content;
}
