.component {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  justify-content: center;
  align-items: center;
  background-color: var(--red) !important;
  padding: 0 !important;
}

.btn {
  gap: 24px;
  color: var(--textWhite);
  font-size: 24px;
  padding: 0;
  height: 100%;
}
