@use "styles/mixin";
@use "styles/breakpoints";

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  width: 100%;
  position: relative;
  align-self: flex-end;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.textWrapper {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.textBg {
  background-color: var(--red);
  border-radius: 67px;
  padding: 26px 30px;

  @include mixin.media-w(breakpoints.$laptop) {
    padding: 10px 33px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    padding: 10px 29px;
  }
}

.cloverImg {
  width: 230px;
  height: 230px;

  @include mixin.media-w(breakpoints.$laptop) {
    width: 130px;
    height: 130px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    width: 70px;
    height: 70px;
  }
}

.starImg {
  width: 134px;
  height: 87px;

  @include mixin.media-w(breakpoints.$laptop) {
    width: 104px;
    height: 78px;
  }

  @include mixin.media-w(breakpoints.$mobile) {
    height: 68px;
  }
}
